{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            {% if title %}
            <h2>{{ title }}</h2>
            {% endif %}
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row m-b-lg m-t-lg">
            <div class="col-md-12">

            {% crispy form %}

        </div>
    </div>
    </div>

{% endblock %}