{%  extends "base.html" %}
{% load static %}
{% block sidebar %}
    <div class="sidebar">
        <h3>contact</h3>
        <ul>
            <li>
                <span class="address">address</span>
                <ul>
                    <li>
                        Illumelabs
                    </li>
                    <li>
                        Diagnostic Center
                    </li>
                    <li>
                        3952 Glen Falls Road
                    </li>
                    <li>
                        Wayne, PA 19088
                    </li>
                </ul>
            </li>
            <li>
                <span class="phone">telephone</span>
                <ul>
                    <li>
                        215.859.9423
                    </li>
                </ul>
            </li>
            <li>
                <span class="email">email</span>
                <ul>
                    <li>
                        <a href="http://www.freewebsitetemplates.com/misc/contact">nyc@volumeone.com</a>
                    </li>
                </ul>
            </li>
            <li>
                <span class="twitter">twitter</span>
                <ul>
                    <li>
                        <a href="http://freewebsitetemplates.com/go/twitter/">@mattovolumeone</a>
                    </li>
                </ul>
            </li>
            <li>
                <span class="facebook">facebook</span>
                <ul>
                    <li>
                        <a href="http://freewebsitetemplates.com/go/facebook/">www.facebook/illumelabs</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}